venv
*.pyc
__pycache__
docs/*
compta/*
!docs/.gitkeep
!compta/.gitkeep
*.pdf
.env
*.zip
tosend/
beassit/
supplier.py
database.*
*.db3
tests.py
*.csv
!csv/cities.csv
!csv/customers.csv
!csv/packs.csv
enerv.py
credentials.json
*.pickle
*.log
*.txt