<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/static/icons/android-chrome-192x192.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/vendor/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-icons.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    {% block css %} {% endblock %}
    <title>BeAssist</title>
  </head>
  <body>
    <header class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"
            ><img
              src="/static/icons/android-chrome-192x192.png"
              alt="Logo"
              width="32px"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="customersDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Clients
                </a>
                <ul class="dropdown-menu" aria-labelledby="customersDropdown">
                  <li>
                    <a class="dropdown-item" href="/customers">Reguliers</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/customers_">Irreguliers</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/prospects">Prospects</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="tasksDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Tâches
                </a>
                <ul class="dropdown-menu" aria-labelledby="tasksDropdown">
                  <li>
                    <a class="dropdown-item" href="/tasks">Tâches</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/subtasks">Sous-tâches</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="docsDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Docs
                </a>
                <ul class="dropdown-menu" aria-labelledby="docsDropdown">
                  <li>
                    <a class="dropdown-item" href="/factures">Factures</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/soumissions">Soumissions</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/packs">Packs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/make/point"
                  >Stats</a
                >
              </li>
            </ul>
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-primary" type="submit">
                Chercher
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    {% block content %} {% endblock %}
    <script src="/static/vendor/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/js/jquery-3.6.0.min.js"></script>
    <script src="/static/vendor/js/axios.min.js"></script>
    <script src="/static/_js/_main.js"></script>
    {% block js %} {% endblock %}
  </body>
</html>
