{% extends '_model.html' %} {% block content %}
<main class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Manage <b>Packs</b></h2>
        </div>
        <div class="col-sm-6">
          <a href="#addPackModal" class="btn btn-success" data-bs-toggle="modal"
            ><i class="bi bi-journal-plus"></i> <span>Add New Pack</span></a
          >
          <a
            href="#deletePackModal"
            class="btn btn-danger"
            data-bs-toggle="modal"
            ><i class="bi bi-journal-minus"></i> <span>Delete</span></a
          >
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
            <span class="custom-checkbox">
              <input type="checkbox" id="selectAll" />
              <label for="selectAll"></label>
            </span>
          </th>
          <th>Pack</th>
          <th>Client</th>
          <th>Coût</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for pack in packs %}
        <tr id="{{pack.pk}}">
          <td>
            <span class="custom-checkbox">
              <input
                type="checkbox"
                id="checkbox1"
                name="options[]"
                value="1"
              />
              <label for="checkbox1"></label>
            </span>
          </td>
          <td>
            <a href="{{url_for('view_pack', pk=pack.pk)}}">{{pack.name}}</a>
          </td>
          <td>{{pack.customer}}</td>
          <td>{{pack.price()}}</td>
          <td>
            <a href="#facturePackModal" class="edit" data-bs-toggle="modal"
              ><i class="bi bi-file-plus" title="Facturer"></i
            ></a>
            <a href="#deletePackModal" class="delete"
              ><i class="bi bi-trash3" title="Delete"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="clearfix">
      <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
      <ul class="pagination"></ul>
    </div>
  </div>
</main>

<!--Add Pack Modal-->
<div
  id="addPackModal"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="addPackModalLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="addPackModalForm">
        <div class="modal-header">
          <h4 class="modal-title" id="addPackModalLabel">Add Pack</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-hidden="true"
          ></button>
        </div>
        <div class="alert" role="alert">
          <p></p>
        </div>
        <div class="modal-body">
          <div>
            <p>Sous-tâches associées</p>
            <ul id="associes"></ul>
          </div>

          <div class="form-group">
            <label for="customer-name">Nom du client</label>
            <select
              class="form-control"
              name="customer"
              id="customers"
            ></select>
          </div>
          <div class="form-group">
            <label>Nom du Pack</label>
            <input
              type="text"
              id="inputName"
              name="name"
              class="form-control"
              autocomplete="off"
              required
            />
          </div>

          <div class="form-group">
            <label for="inputSubtask">Sous tâche</label>
            <input
              type="text"
              id="inputSubtask"
              name="subtask"
              class="form-control"
              list="subtasks"
            />
            <datalist id="subtasks"> </datalist>
          </div>
          <div class="form-group">
            <label for="inputValue">Coût</label>
            <input
              class="form-control"
              type="number"
              name="value"
              id="inputValue"
            />
          </div>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            value="Annuler"
          />
          <input
            type="button"
            id="add-subtask"
            value="Add Subtask"
            class="btn btn-primary"
          />
          <input type="submit" class="btn btn-success" value="Save" />
        </div>
      </form>
    </div>
  </div>
</div>
<!--Facture Pack Modal-->
<div
  id="facturePackModal"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="facturePackModalLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="facturePackModalForm">
        <div class="modal-header">
          <h4 class="modal-title" id="facturePackModalLabel">
            Facture Pack#<span id="facture-pack"></span>
          </h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="alert" role="alert"><p></p></div>
        <div class="modal-body">
          <div class="form-group">
            <label>Objet de la facture</label>
            <input
              id="inputObj"
              type="text"
              name="obj"
              class="form-control"
              placeholder="Ex : Facture du mois de Mars"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            value="Annuler"
          />
          <input type="submit" class="btn btn-success" value="Save" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block js %}
<script src="/static/_js/_packs.js"></script>
{% endblock %}
