{% extends '_model.html' %} {% block content %}
<main class="container">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Manage <b>Subtasks</b></h2>
        </div>
        <div class="col-sm-6">
          <a
            href="#addSubtaskModal"
            class="btn btn-success"
            data-bs-toggle="modal"
            ><i class="bi bi-journal-plus"></i> <span>Add New Subtask</span></a
          >
          <a href="#deleteTaskModal" class="btn btn-danger" data-toggle="modal"
            ><i class="bi bi-journal-minus"></i> <span>Delete</span></a
          >
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
            <span class="custom-checkbox">
              <input type="checkbox" id="selectAll" />
              <label for="selectAll"></label>
            </span>
          </th>
          <th>Tâche</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for subtask in subtasks %}
        <tr id="{{subtask.pk}}">
          <td>
            <span class="custom-checkbox">
              <input
                type="checkbox"
                id="checkbox1"
                name="options[]"
                value="1"
              />
              <label for="checkbox1"></label>
            </span>
          </td>
          <td>{{subtask.name}}</td>
          <td>
            <a href="#" class="delete"
              ><i class="bi bi-trash3" title="Delete"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="clearfix">
      <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
      <ul class="pagination"></ul>
    </div>
  </div>
</main>
<!-- Add Subtask Modal -->
<div
  id="addSubtaskModal"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="addSubtaskModalLabel"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="addSubtaskModalForm" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title" id="addSubtaskModalLabel">Add Subtask</h4>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="alert" role="alert"><p></p></div>
        <div class="modal-body">
          <div class="form-group">
            <label>Nom</label>
            <input type="text" name="name" class="form-control" required />
          </div>
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            value="Annuler"
          />
          <input type="submit" class="btn btn-success" value="Add" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block js %}
<script src="/static/_js/_subtasks.js"></script>
{% endblock %}
