{% extends '_model.html' %} {% block content %}
<main class="container">
  <div class="card">
    <div class="card-header">
      <a href="/packs"><i class="bi bi-arrow-left">Retour</i></a>
      <b>{{pack.name}}</b>
    </div>
    <div class="card-body">
      <ul>
        {% for subtask in subtasks %}
        <li>{{subtask.subtask.name}} {{subtask.value}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-footer">
      <b>Total</b> :
      <h3 style="display: inline">{{pack.price()}}</h3>
      CAD
    </div>
  </div>
</main>
{% endblock %}
